wsdl2java/resources/XSD_Time.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="xml.accenture.com/sdp/bby/utilities/Time" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Time="xml.accenture.com/sdp/bby/utilities/Time">
	<xs:annotation>
		<xs:documentation> Time Entity</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Timestamp">
		<xs:sequence>
			<xs:element name="Time" type="xs:time" minOccurs="0"/>
			<xs:element name="Date" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>