wsdl2java/resources/XSD_Authentication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="xml.accenture.com/sdp/bby/utilities/Authentication" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Authentication Entity</xs:documentation>
	</xs:annotation>
	<xs:complexType name="VendorAuthentication">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
			<xs:element name="password" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>