wsdl2java/resources/XSD_FulfillActivation.xsd

<xs:schema xmlns="http://schemas.bestbuy.com/sdp/fulfillActivation"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schemas.bestbuy.com/sdp/fulfillActivation"
	elementFormDefault="qualified">
	<xs:element name="FulfillActivationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ActivationOrder"
					type="ActivationOrderType" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Activation Order type definition -->
	<xs:complexType name="ActivationOrderType">
			<xs:sequence>
				<xs:element name="TransactionDateTime" type="xs:dateTime" />
				<xs:element name="SourceID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StoreID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RegisterID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Date" type="xs:date" />
				<xs:element name="CA_PartyID" type="xs:string" minOccurs="0"/>
				<xs:element name="RewardZoneID" type="xs:string" minOccurs="0"/>
				<xs:element name="LineItemDetails" type="LineItemDetailsType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="optional" />
	</xs:complexType>
	
	<!-- Line Item Details type definition -->
		<xs:complexType name="LineItemDetailsType">
			<xs:sequence>
				<xs:element name="LineID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						       <xs:minLength value="1"/>
						 </xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IsRTACall" type="IsRTACallType" minOccurs="0"/>
				<xs:element name="SKU" type="SKUType"/>
				<xs:element name="DigitalAttributes" type="DigitalAttributesType" minOccurs="0" />	
				<xs:element name="RelatedSKU" type="RelatedSKUType" minOccurs="0" />
				<xs:element name="ValuePackageID" type="xs:string" minOccurs="0" />
				<xs:element name="DeliveryEmail" type="xs:string" minOccurs="0" />
				<xs:element name="SerialNumber" type="xs:string" minOccurs="0" />
				<xs:element name="Attribute" minOccurs="0"
					maxOccurs="unbounded" type="AttributeType" />
				<xs:element name="BillingData" type="BillingDataType" minOccurs="0" />
				<xs:element name="CustomerContactDetails" type="CustomerContactDetailsType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="optional" />
		</xs:complexType>
		
	<!-- IsRTACall type definition -->
		<xs:complexType name="IsRTACallType">
			<xs:sequence>
				<xs:element name="KeyCode" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="successful" type="xs:boolean" use="required"/>
		</xs:complexType>
	
	<!-- SKU type definition -->
		<xs:complexType name="SKUType">
			<xs:sequence>
				<xs:element name="SKUNum">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="Price" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxRate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
	<!-- Digital Attributes type definition -->
		<xs:complexType name="DigitalAttributesType">
			<xs:sequence>
				<xs:element name="MasterItemId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="VendorID">
				<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="VendorDigitalID">
				<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="DigitalProductType">
				<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
				</xs:simpleType>
				</xs:element>
			       <xs:element name="Price" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxRate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	<!-- Parent SKU type definition -->
		<xs:complexType name="RelatedSKUType">
			<xs:sequence>
				<xs:element name="SKUNum" type="xs:string"/>
				<xs:element name="Price" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxAmount" type="xs:string" minOccurs="0"/>
				<xs:element name="TaxRate" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
	<!-- Attribute type definition -->
		<xs:complexType name="AttributeType">
			<xs:sequence>
				<xs:element name="Name">
	                         <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="Value">
	                        <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	
	<!-- Billing Data type definition -->
		<xs:complexType name="BillingDataType">
			<xs:sequence>
				<xs:element name="CreditCard" type="CreditCardType"
					minOccurs="0" />
				<xs:element name="Address" type="AddressType"
					minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	
	<!-- Credit Card type definition -->
		<xs:complexType name="CreditCardType">
			<xs:sequence>
				<xs:element name="Type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Token">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Name">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ExpirationDate" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d\d\d\d-\d\d" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		
	<!-- Address type definition -->
		<xs:complexType name="AddressType">
			<xs:sequence>
				<xs:element name="Label" type="xs:string" minOccurs="0"/>
				<xs:element name="Line" type="xs:string" maxOccurs="2"/>
				<xs:element name="City">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="State">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PostalCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	
	<!-- CustomerContactDetails type definition -->
		<xs:complexType name="CustomerContactDetailsType">
			<xs:sequence>
				<xs:element name="FirstName" type ="xs:string" minOccurs="0"/>
				<xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
				<xs:element name="LastName" type ="xs:string" minOccurs="0"/>
				<xs:element name="ContactEmail" type="xs:string" minOccurs="0"/>
				<xs:element name="Phone" type="PhoneType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
		
	<!-- Phone type definition-->
		<xs:complexType name="PhoneType">
			<xs:sequence>
				<xs:element name="Number">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{10}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Label">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Home"/>
							<xs:enumeration value="Work"/>
							<xs:enumeration value="Mobile"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	
	<!-- Response will indicate success or failure, at a minimum.  In the event of failure, error details will be provided
		and in event of success token would be returned back. -->
		<xs:element name="FulfillActivationResponse">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ResultStatus" type="ResultStatusType" />
				</xs:sequence>
	                        
			</xs:complexType>
		</xs:element>
		<!--  ResultStatusType  -->
		<xs:complexType name="ResultStatusType">
			<xs:annotation>
				<xs:documentation>
					Intended for use as a metadata element in service
					response schemas. It contains a simple "Successful" flag
					that indicates whether or not the responding service
					completed normally. If the value is "false", there was
					some error and an enclosed ErrorInformation element
					should be populated.
	
					Note that a Successful status of "true" does not
					necessarily indicate functional success - only technical
					success. Functional success should be determined from
					data in the service's response schema. Services may
					choose to use the ResultStatus element to indicate
					functional success as well, but such decisions should be
					explicitly documented by those services.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="ErrorInformation" type="ErrorInfoType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Successful" type="xs:boolean" />
		</xs:complexType>
		
		<!-- ErrorInfoType -->
		<xs:complexType name="ErrorInfoType">
			<xs:annotation>
				<xs:documentation>
					Intended for inclusion in ResultStatusType elements, to
					be used to return error information in service response
					schemas.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="Code" type="xs:string" />
				<xs:element name="Message" type="xs:string" />
				<xs:element name="ErrorStack" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
</xs:schema>